@media (max-width: 640px) and (min-width: 320px) {
    .item-card{
        border:3px ;
        margin: 20px;
        background-color:aliceblue;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
    }

    .item-details{
        text-align: center;
        display: grid;
        grid-template-areas:
            "name"
            "image"
            "location"
            "description"
            "button";
    
        
    }

     .item-image {
        grid-area: image;
    }

    h2{
        grid-area: name;
    }


    .item-details h2{
        padding-top: 10px;
        /* text-align: center; */
    }

    .item-image img{
        width: 412px;
        height: 200px;
        object-fit:cover;
        
    }

    .item-address{
        padding: 20px;
        grid-area: location;
    }

    .item-description{
        padding: 20px;
        grid-area: description;
    }

    

    .item-button{
        grid-area: button;
        width: 300px;
        height: 50px;
        border-radius: 20px;
        margin-bottom: 25px;
        font-size: large;
        font-weight: 800;
        background-color: var(--primary-color);
        color: white;
        

    }
   
}