@media screen and (max-width: 968px) {
    header {
        flex-direction: column;
        padding: 15px;
    }
    
    .header-img {
        margin-bottom: 15px;
    }
    
    .nav-container {
        width: 100%;
    }
    
    /* #menu-button {
        display: block;
        width: 100%;
        text-align: right;
    } */
    
    /* .menulink {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--primary-color);
        z-index: 1000;
    } */
    
    .menulink.active {
        display: flex;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .member-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

   

    .member-card img {
        width: 100%;
        height: auto;
    }

   

}